a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: none !important;
}
.active{
    background-color: rgb(255,148,0);
    
    border-radius: 5px;
    height: 64%;
    color: #fff;
    margin-top: 4px;
  
    line-height: 42px;
}

.active .nav-links{
    color: #fff;

}
.active:hover .nav-links{
    line-height: 35px;
  
}


.NavbarItems{
    background:linear-gradient(90deg,rgb(110,94,254)0% , rgba(73,63,252,100%));
    height: 80px;
    display: flex;
    align-items: center;
}
.menu-icon{
    color: #fff;
    display: none;
}

.grid{
    padding-left: 64px;
}

.nav-menu{
    width: 100%;
    height: 100%;
    display: flex;
    grid-template-columns: repeat(5,auto);
    grid-gap:20px;
    list-style: none;
    text-align: center;
    width: 34vw;
    justify-content: end;
    margin-right: 2rem;
    line-height: 50px; 
}
.nav-links{
    color: #ccc;
    cursor: pointer;
    width: 108px;
    font-size: 14px;
 
}

.nav-links:hover .nav-menu-links-child{
    display: block;
   list-style: none;
}

.nav-links:hover .nav-menu-links-child1{
    display: block;
    transition: all 0.9s ease-in-out;
}

.nav-links:hover .nav-menu-links-child2{
    display: block;
    transition: all 0.9s ease-in-out;
    min-width: 150px;
}

.nav-menu-links-child{
    position: absolute;
    background-color: #f4ebd5;
    color: #232323;
    top: 197px;
    left: 185px;
    text-align: left;
    line-height: 28px;
    padding:10px;
    z-index: 1;
    display: none;
}
.nav-menu-links-child1{
    position: absolute;
    background-color: #f4ebd5;
   color: #232323;
    top: 197px;
    left: 359px;
    text-align: left;
    line-height: 28px;
    padding:10px;
    z-index: 1;
    display: none;
}
.nav-menu-links-child2{
    position: absolute;
    background-color: #f4ebd5;
   color: #232323;
    top: 197px;
    left: 532px;
    text-align: left;
    line-height: 28px;
    padding:10px;
    z-index: 1;
    display: none;
 
}
.nav-menu-links-child li{
   
    padding: 10px;
}

.nav-menu-links-child1 li{
   
    padding: 10px;
}

.nav-menu-links-child2 li{
    
    padding: 10px;
}
.nav-menu-links-child li:hover{
    background-color: chocolate;
    transition: all 0.9s ease-out;
    border-radius: 5px;
}
.nav-menu-links-child1 li:hover{
    background-color: chocolate;
    transition: all 0.9s ease-out;
    border-radius: 5px;
}
.nav-menu-links-child2 li:hover{
    background-color: chocolate;
    transition: all 0.9s ease-out;
    border-radius: 5px;
}
.nav-menu-links-child li:last-child{
    border-bottom:none ;
}
.nav-menu-links-child1 li:last-child{
    border-bottom:none ;
}
.nav-menu-links-child2 li:last-child{
    border-bottom:none ;
}
.nav-links:hover{
    background-color: rgb(255,148,0);
    /* transition: all 0.2s ease-in-out; */
    border-radius: 5px;
    height: 65%;
    color: #fff;
    margin-top: 4px;
    line-height: 42px;  
}

.navbar-logo-icon{
    color: #fff;
    font-size: 28px;
    margin-left: 23px;
    width: 15vw  !important;
}

.body-icon{
    height: 57%;
    width: 100%;
    position: relative;
    line-height: 53px;

}

.icon-search{
    position: absolute;
    top:13px;
    right:14px;
    color:#6E6E6E;
    height: 100%;
    
}

.input-icon{
    height: 100%;
    width: 100%;
    border-radius: 28px;
    outline: none;
    border: none;
    padding: 0px 64px 0px 22px;
    font-size: 17px;
    font-family: system-ui;
    background-color: #E0F8F7;
}


@media screen and (max-width:960px){
    .grid{
        padding-left: 24px;
    }
    .NavbarItems{
        position: relative;
    }
    

    .navbar-logo-icon{
        transform: translate(100% , -69%);
        font-size: 28px;
        width: 4vw  !important;
    }

    .nav-menu{
        display:flex;
        flex-direction:column ;
        width: 100%;
        position: absolute;
        top: 68px;
        left: -100%;
        opacity: 1;
        /* transition: all 0.5s ease-in; */
    }
    .nav-menu.active{
        background-color: #6d76f4;
        left:0;
        opacity: 1;
        /* transition: all 0.5s ease-in; */
        z-index:1;
    }

    .nav-links{
        text-align: center;
        background-color:#6d76f4 ;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -11px;
    }
    .nav-links:hover{
        background-color: #6d76f4;
        border-radius: 0;
    }
   .navbar-logo{
       position: absolute;
       top: 0;
       left: 0;
       transform: translate(25% ,50%);
   }


 
   .nav-links:hover .nav-menu-links-child{
    display: none;
    }
   .nav-links:hover .nav-menu-links-child1{
        display: none;
    }
    .nav-links:hover .nav-menu-links-child2{
        display: none;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 2%;
        right: 1%;
        transform: translate(-100%,25%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .body-icon{
        height: 71%;
        width: 70%;
        position: relative;
        line-height: 50px;
        margin-left: 40px;
    }
    .a-link{
        margin: -11px 0px;
    }

    .input-icon{
        height: 100%;
        width: 100%;
        border-radius: 28px;
        outline: none;
        border: none;
        padding: 0px 64px 0px 22px;
        font-size: 17px;
        font-family: system-ui;
        background-color: #E0F8F7;
    }
}

@media screen and (max-width:1024px){
    .NavbarItems{
        position: relative;
    }
    

    .navbar-logo-icon{
        transform: translate(100% , -69%);
        font-size: 28px;
        width: 4vw  !important;
    }

    .nav-menu{
        display:flex;
        flex-direction:column ;
        width: 100%;
      height: 100%;
        position: absolute;
        top: 48px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-in;
    }
    .nav-menu.active{
        background-color: #6d76f4;
        left:0;
        top:68px;
        opacity: 1;
        transition: all 0.5s ease-in;
        z-index:1;
    }

    .nav-links{
        text-align: center;
      
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav-links:hover{
        background-color: #6d76f4;
        border-radius: 0;
    }
   .navbar-logo{
       position: absolute;
       top: 0;
       left: 0;
       transform: translate(25% ,50%);
   }
   .menu-icon{
       display: block;
       position: absolute;
       top: 2%;
       right: 1%;
       transform: translate(-100%,25%);
       font-size: 1.8rem;
       cursor: pointer;
   }
   .nav-links:hover .nav-menu-links-child{
    display: none;
    }
   .nav-links:hover .nav-menu-links-child1{
        display: none;
    }
    .nav-links:hover .nav-menu-links-child2{
        display: none;
    }
    
 
   
}


/* @media screen and (max-width:960px){ */
 @media screen and (max-width:1366px){
    .body-icon{
        height: 71%;
        width: 70%;
        position: relative;
        line-height: 50px;
        margin-left: 40px;
    }
    .a-link{
        margin: -11px 0px;
        background-color: #6d76f4;
    }
    .nav-links:hover{
        background-color:rgb(255,148,0);
    }

    .input-icon{
        height: 100%;
        width: 100%;
        border-radius: 28px;
        outline: none;
        border: none;
        padding: 0px 64px 0px 22px;
        font-size: 17px;
        font-family: system-ui;
        background-color: #E0F8F7;
    }
    .nav-menu.active{
        background-color: #6d76f4;
        left:0;
       
        opacity: 1;
        transition: all 0.5s ease-in;
        z-index:1;
    }

}
/* 
@media screen and (max-width:1400px){
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(5,auto);
        grid-gap: 20px;
        list-style: none;
        text-align: center;
        width: 34vw;
        justify-content: end;
        margin-right: 2rem;
    }
} */