.a{
    color:#000fff;
}
.a:hover{
    color: aqua;
    transition: all 0.3 ease-in-out;
}
.h1-item{
    text-align: center;
    padding: 0px 0px 20px 0px;
}

ul.item li{
    list-style: disc;
    margin-left: 25px;
    line-height: 21px;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial;
}
ul.item{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}   