.border{
    border-left: 2px solid black;
    margin-left: 20px;
    padding-left: 15px;
}
ul li{
    list-style: none;
}

.footer_item{
    line-height: 34px;
    margin-left: 20px;
}

.footer_item a{
    color: #fff;
    text-decoration: none;
}
.footer_item a:hover{
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-out;
}